.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 180px;
  background-color: var(--cor-fundo);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3000;
}

.logo img {
  height: 50px;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
  position: relative;
}

.nav-menu a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background: var(--cor-secundaria);
  transition: 0.6s all ease;
}

.nav-menu a:hover::after {
  width: 100%;
}

.nav-menu a.btn-contato::after {
  display: none;
}

.btn-contato,
.btn-cta {
  color: var(--cor-fundo) !important;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.15em;
  letter-spacing: 1.5px;
  background-color: var(--cor-primaria);
  border-style: solid;
  border-width: 1px;
  border-color: var(--cor-primaria);
  border-radius: 0;
  box-shadow: 4px 4px 0 0 var(--cor-terciaria);
  padding: 22px 25px !important;
  transition: 0.6s all ease;
}

.btn-contato:hover {
  text-decoration: none;
  transition: 0.6s all ease;
  background: var(--cor-secundaria);
  color: #313131;
  border: none;
}

.menu-toggle {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: var(--cor-fundo);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .nav-menu ul {
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
  }

  .nav-menu li {
    width: 100%;
    border-bottom: 1px solid #eee;
  }

  .nav-menu li:last-child {
    border-bottom: none;
  }

  .nav-menu.show {
    display: flex;
  }

  .header {
    flex-wrap: wrap;
  }

  .logo {
    flex: 1;
    margin-left: -100px;
  }

  .menu-toggle {
    flex: 1;
    margin-left: 50px;
    margin-right: -140px;
    text-align: center;
  }
}
